<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>7383912639-g30oojmg62980g159asobot77q32u2k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7383912639-g30oojmg62980g159asobot77q32u2k7</string>
	<key>API_KEY</key>
	<string>AIzaSyB--0og9r_5Q8X-w9HPL-TKRLSeUpITbz8</string>
	<key>GCM_SENDER_ID</key>
	<string>7383912639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sophie-traynor.CodingMadeEasyProject</string>
	<key>PROJECT_ID</key>
	<string>codingmadeeasy-8e2db</string>
	<key>STORAGE_BUCKET</key>
	<string>codingmadeeasy-8e2db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7383912639:ios:bcf1ab467c14848c</string>
	<key>DATABASE_URL</key>
	<string>https://codingmadeeasy-8e2db.firebaseio.com</string>
</dict>
</plist>